.canvas-wrap {
  display: flex;
}
canvas{
  z-index: 100;
  margin-left: 23px;
  margin-top: 32px;
}

.background {
  position: absolute;
  z-index: 0;
  background-image: url("../Backgrounds.png");
  width: 1250px;
  height: 867px;
  background-position: -28px -32px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  background-size: 207% 2605%;
}